/*html { height: 100%; font-size: 12px; }*/
// @import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "_variables";

* {
    box-sizing: border-box;
}
html {
    // font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
body {
    margin: 0;
    font-size: 14px;
}
ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}
a {
    color: $brand-color;

    &:hover, &:focus {
        text-decoration: none;
        transition: background-color, color, 0.3s;
    }
}
img {
    max-width: 100%;
    vertical-align: middle;
}
.text-center {
    text-align: center;
}
.section {
    padding: 100px 0;
}
.no-padding {
    padding: 0
}

/* 
书写顺序

位置属性(position, top, right, z-index, display, float等)
大小(width, height, padding, margin)
文字系列(font, line-height, letter-spacing, color- text-align等)
背景(background, border等)
其他(animation, transition等)
 */

/* bootstrap grid
------------------------------------------------------- */
// $icon-font-path:"../../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "bootstrap-sass/assets/stylesheets/bootstrap/grid";

// Floats
// -------------------------

.clearfix {
    @include clearfix;
}
.center-block {
    @include center-block;
}
.pull-right {
    float: right !important;
}
.pull-left {
    float: left !important;
}
.no-gutter [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

/* banner
------------------------------------------------------- */
.banner {
    min-height: 550px;
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}
.banner-text {
    padding-top: 25%;

    h1 {
        color: #fff;
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        text-transform: uppercase;
    }
    p {
        color: #fff;
        font-size: 22px;
        font-weight: 300;
        line-height: 1.5;
        margin-bottom: 80px;
    }
}

/* header
------------------------------------------------------- */
#header {
    position: fixed;
    z-index: 99;
    width: 100%;

    &.fixed {
        background-color: #292c47;

        .header-content {
            border-bottom: 0 none;
            padding: 25px 0;
        }
        .nav-toggle {
            top: 11.5px;
        }
    }
}
.header-content {
    width: 100%;
    max-width: 1170px;
    padding: 40px 0;
    margin: 0 auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    transition: padding .3s;
    // background-color: rgba(255, 255, 255, .07);

    .logo {
        float: left;
    }
    .navigation, .primary-nav {
        float: right;

        li {
            display: inline-block;
        }
        a {
            margin-left: 40px;
        }
    }
    a {
        color: rgba(255, 255, 255, 0.75);
        font-size: 0.92857em;
        font-weight: 700;
        text-decoration: none;
    }
    .nav-toggle {
        display: none
    }
}
.nav-toggle {
    position: absolute;
    right: 5%;
    top: 27px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #e84545;
    text-indent: 100%;
    overflow: hidden;
    text-align: center;
    transition: all 0.3s;

    span {
        position: absolute;
        z-index: 10;
        top: 50%;
        left: 50%;
        display: inline-block;
        height: 3px;
        width: 18px;
        background-color: $white;
        margin-left: -9px;
        margin-top: -1.5px;

        &:before, &:after {
            content: " ";
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;
            display: inline-block;
            height: 3px;
            width: 18px;
            background-color: $white;
            margin-left: -9px;
            margin-top: -1.5px;
            transition: transform .3s;
            transform: translateY(6px) rotate(0deg)
        }
        &:after {
            transform: translateY(-6px) rotate(0deg)
        }
    }
    &.close-nav {
        span {
            background-color: rgba(255, 255, 255, 0);

            &:before {
                transform: translateY(0px) rotate(45deg)
            }
            &:after {
                transform: translateY(0px) rotate(-45deg)
            }
        }
    }
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.testimonials {
    background-color: #f4f4f4;
    margin-top: 100px;
    padding-top: 0;
    padding-bottom: 35px;
}
.flexslider {
    margin: 0 auto;
    margin-top: -20px;
    width: 100%;
    max-width: 1100px;
    // height: 400px;
    overflow: hidden;
    background-color: #53354a;

    .slides {
        zoom: 1;
        overflow: hidden;
    }
    li {
        width: 100%;
        float: left;
        position: relative;
        z-index: 1;
        // left: 0;
        // right: 0;
        // top: 0;
        display: block;
        margin-left: 0;

        &:nth-of-type(1) {
            z-index: 2;
            display: none;
        }
    }
    blockquote {
        color: #fff;

        p {
            font-size: 2.42857em;
        }
    }
}
.features {
    .feature-content {
        text-align: center;

        p {
            font-size: 14px;
            line-height: 22.4px;
            color: #6c7279;
            margin: 0 0 10px;

            &:last {
                margin-bottom: 0;
            }
        }
    }
    .feature-head {
        font-size: 24px;
        margin-bottom: 50px;
    }
}
.works {
    // max-width: 1170px;

    .work {
        // min-height: 350px;
        box-shadow: 0 0 0 1px #fff;
        overflow: hidden;
        min-height: 175px;

        img {
            max-width: none;
            max-height: 175px;
        }

        /* img {
                max-width: none;
            
        } */
    }
    .work-box {
        &:hover {
            .overlay {
                opacity: 1;
            }
        }
    }
    a {
        display: block;
    }
    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(232, 69, 69, .9);
        opacity: 0;
        transition: opacity .3s;
    }
    .overlay-caption {
        position: absolute;
        text-align: center;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        color: #fff;
    }

    /*  h5, p {
             margin: 0;
             padding: 0;
         
     } */
    h5 {
        margin-bottom: 5px;
        font-size: 1.8em;
        margin: 0;
        padding: 0;
    }
}
.news {
    .news-top {
        margin-bottom: 35px;
        position: relative;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    h5 {
        font-size: 20px;
        margin-bottom: 20px;
    }
    p {
        line-height: 1.7428;
        color: #6c7279
    }
    a {
        text-align: right;
        display: block;
        text-decoration: none;
        color: #6c7279;
    }
    .news-top-mask {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 80%;
        background-color: #ededed;
        z-index: -1;
    }
}
@media  screen  and (max-width:$bp-large) {
    #header {
        .header-content {
            width: 90%;
        }
        .nav-toggle {
            display: block;
            z-index: 999;
        }
        .navigation {
            background-color: #000;
            z-index: 998;
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            opacity: 0;
            visibility: hidden;

            &.open {
                opacity: .9;
                transition: all .6s;
                height: 100%;
                width: 100%;
                visibility: visible;
            }
        }
        .primary-nav {
            position: absolute;
            display: block;
            width: 100%;
            top: 45%;
            transform: translateY(-45%);

            li {
                display: block;
                padding-bottom: 20px;
                text-align: center;

                a {
                    font-size: 1.7857em;
                }
            }
        }
    }
}
@media  screen  and (max-width:$bp-small-3) {
    .works {
        .work {
            min-height: 175px;

            img {
                max-height: 175px;
            }
        }
    }
}