/*html { height: 100%; font-size: 12px; }*/

// @import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "_variables";

* {
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}
html {
    // font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
html, body {
    padding: 0;
    margin: 0;
    font-size: 14px;
}
ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}
a {
    color: $brand-color;
    text-decoration: none;

    &:hover, &:focus {
        text-decoration: none;
        transition: background-color, color, 0.3s;
    }
}
img {
    // max-width: 100%;
    vertical-align: middle;
}
.text-center {
    text-align: center;
}
.section {
    padding: 100px 0;
}
.no-padding {
    padding: 0 !important;
}
.heading {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* 
书写顺序

位置属性(position, top, right, z-index, display, float等)
大小(width, height, padding, margin)
文字系列(font, line-height, letter-spacing, color- text-align等)
背景(background, border等)
其他(animation, transition等)
 */

/* bootstrap grid
------------------------------------------------------- */

// $icon-font-path: "../../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "bootstrap-sass/assets/stylesheets/bootstrap/media";
@import "bootstrap-sass/assets/stylesheets/bootstrap/pagination";

// Floats
// -------------------------
.clearfix {
    @include clearfix;
}
.center-block {
    @include center-block;
}
.pull-right {
    float: right !important;
}
.pull-left {
    float: left !important;
}
.no-gutter [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

/* banner
------------------------------------------------------- */
.header {
    min-height: 99px;
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

/* .banner-text {
    padding-top: 25%;

    h1 {
        color: #fff;
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        text-transform: uppercase;
    }
    p {
        color: #fff;
        font-size: 22px;
        font-weight: 300;
        line-height: 1.5;
        margin-bottom: 80px;
    }
}
 */

/* header
------------------------------------------------------- */
#header {
    position: absolute;
    z-index: 99;
    width: 100%;

    &.fixed {
        position: fixed;
        background-color: #292c47;

        .header-content {
            border-bottom: 0 none;
            padding: 25px 0;
        }
        .nav-toggle {
            top: 11.5px;
        }
    }
}
.header-content {
    width: 100%;
    max-width: 1170px;
    padding: 40px 0;
    margin: 0 auto;
    // border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    transition: padding .3s;
    // background-color: rgba(255, 255, 255, .07);

    .logo {
        float: left;
    }
    .navigation, .primary-nav {
        float: right;

        li {
            display: inline-block;
        }
        a {
            margin-left: 40px;

            &:hover, .active {
                color: #fff;
            }
        }
    }
    a {
        color: rgba(255, 255, 255, 0.75);
        font-size: 0.92857em;
        font-weight: 700;
        text-decoration: none;
    }
    .nav-toggle {
        display: none
    }
}
.nav-toggle {
    position: absolute;
    right: 5%;
    top: 27px;
    width: 44px;
    height: 44px;
    // border-radius: 50%;
    // background-color: #e84545;
    text-indent: 100%;
    overflow: hidden;
    text-align: center;
    transition: all 0.3s;

    &:before, &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: #e84545;
        transition: transform .3s;
    }
    &:after {
        transform: scale(0);
    }
    span {
        position: absolute;
        z-index: 10;
        top: 50%;
        left: 50%;
        display: inline-block;
        height: 3px;
        width: 18px;
        background-color: $white;
        margin-left: -9px;
        margin-top: -1.5px;

        &:before, &:after {
            content: " ";
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;
            display: inline-block;
            height: 3px;
            width: 18px;
            background-color: $white;
            margin-left: -9px;
            margin-top: -1.5px;
            transition: transform .3s;
            transform: translateY(6px) rotate(0deg)
        }
        &:after {
            transform: translateY(-6px) rotate(0deg)
        }
    }
    &.close-nav {
        &:before {
            transform: scale(0);
        }
        &:after {
            transform: scale(1);
        }
        span {
            background-color: rgba(255, 255, 255, 0);

            &:before {
                transform: translateY(0px) rotate(45deg)
            }
            &:after {
                transform: translateY(0px) rotate(-45deg)
            }
        }
    }
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* pageslider
-------------------------------------------------------------- */
.pageslider {
    // margin-top: 15px;
    overflow: hidden;
}
.slider-wrap {
    // margin-top: 120px;

    .homeslider {
        border: none;
        margin-bottom: 15px;
        // height: 400px;

        .img {
            width: 100%;
            height: 200px;
        }
        .flex-control-nav {
            bottom: -5px;
        }
        .flex-control-paging li a {
            width: 16px;
            height: 3px;
            background-color: #fff;
            border-radius: 0;
            transition: width .3s;
            opacity: .6;

            &.flex-active {
                width: 24px;
                opacity: 1;
            }
        }
    }
}

/* team
-------------------------------------------------------------- */
.testimonials {
    background-color: #f4f4f4;
    margin-top: 100px;
    padding-top: 0;
    padding-bottom: 35px;
}

/* .flexslider {
    margin: 0 auto;
    margin-top: -20px;
    width: 100%;
    max-width: 1100px;
    // height: 400px;
    overflow: hidden;
    background-color: #53354a;

    .slides {
        zoom: 1;
        overflow: hidden;
    }
    li {
        width: 100%;
        float: left;
        position: relative;
        z-index: 1;
        // left: 0;
        // right: 0;
        // top: 0;
        display: block;
        margin-left: 0;

        &:nth-of-type(1) {
            z-index: 2;
            display: none;
        }
    }
    blockquote {
        color: #fff;

        p {
            font-size: 2.42857em;
        }
    }
} */

/* features
--------------------------------------------------------------- */
.features {
    .feature-content {
        text-align: center;

        p {
            font-size: 14px;
            line-height: 22.4px;
            color: #6c7279;
            margin: 0 0 10px;
            min-height: 100px;

            &:last {
                margin-bottom: 0;
            }
        }
    }
    .feature-head {
        font-size: 24px;
        margin-bottom: 50px;
    }
}

/* categories
---------------------------------------------- */
.categories {
    // max-width: 1170px;

    .category {
        // min-height: 350px;
        box-shadow: 0 0 0 1px #fff;
        overflow: hidden;

        /* min-height: 175px;

                img {
                    max-width: none;
                    max-height: 175px;
                } */
        img {
            max-width: none;
        }
    }
    .category-box {
        &:hover {
            .overlay {
                opacity: 1;
            }
        }
    }
    a {
        display: block;
    }
    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(232, 69, 69, .9);
        opacity: 0;
        transition: opacity .3s;
    }
    .overlay-caption {
        position: absolute;
        text-align: center;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        color: #fff;
    }

    /*  h5, p {
             margin: 0;
             padding: 0;
         
     } */
    h5 {
        margin-bottom: 5px;
        font-size: 1.8em;
        margin: 0;
        padding: 0;
    }
}

/* news
--------------------------------------------------------- */
.news {
    .news-top {
        margin-bottom: 35px;
        position: relative;
        padding-top: 20px;
        padding-bottom: 20px;

        h5, p, a {
            padding: 0 20px;
        }
        h5 {
            font-size: 20px;
            margin-bottom: 20px;
            margin-top: 20px;
        }
        p {
            line-height: 1.7428;
            color: #6c7279
        }
        a {
            text-align: right;
            display: block;
            text-decoration: none;
            color: #6c7279;
        }
        img {
            max-width: 100%;
        }
    }
    .news-top-mask {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 15px;
        height: 100%;
        width: 80%;
        background-color: #ededed;
        z-index: -1;
    }
    .news-top-list {
        // width: 1170px+84-30;
        margin-left: -84px-15px;
        margin-top: -35px;

        .media {
            background-color: #ededed;
            margin-left: 84px;
            // width: ((1170px-84-30)/2);
            display: inline-block;
            float: left;
            margin-top: 35px;

            &:first-child {
                margin-top: 35px;
            }
            h4 {
                font-size: 1.42857em;
                margin: 20px 0 15px;
                font-weight: normal;
            }
            p {
                color: #6c7279;
                line-height: (24/14);
            }
        }
    }
}

/* footer
------------------------------------------------------- */
.footer {
    background-color: #313454;
    color: #808080;
    // border-bottom: 2px red solid;
}
.footer-social {
    height: 55px;
    width: 55px;
    // border: solid 1px #ffffff;
    margin: 0 auto;
    // overflow: hidden;

    .social-weixin {
        width: 54px;
        height: 54px;
        margin: 0 auto;
        display: block;
        background: url(../images/weixin.png) 0 0 no-repeat;
        transition: all 0s;
        // text-indent: -1000000px;
        position: relative;

        &:hover {
            background-position: 0 -54px;

            .qrcode-wrap {
                visibility: visible;
                transform: scale(1);
            }
        }
        .qrcode-wrap {
            transition: all .3s;
            // display: block;
            visibility: hidden;
            position: absolute;
            bottom: 74px;
            left: 50%;
            // width: 140px;
            padding: 5px;
            border-radius: 5px;
            border: solid 1px #afb0bc;
            margin-left: -(138px+10px)/2;
            transform: scale(0);
            z-index: 100;
            background-color: #fff;
            transform-origin: bottom;

            img {
                margin-bottom: 5px;
            }
            .arrow {
                bottom: -11px;

                &, &:after {
                    position: absolute;
                    left: 50%;
                    margin-left: -11px;
                    width: 0;
                    height: 0;
                    border-width: 11px;
                    border-color: transparent;
                    // border-color: #afb0bc;
                    border-style: solid;
                    border-top-color: #afb0bc;
                    border-bottom-width: 0;
                }
            }
            .arrow {
                &:after {
                    content: " ";
                    border-width: 10px;
                    margin-left: -10px;
                    border-bottom-width: 0;
                    bottom: 1px;
                    border-top-color: #ffffff;
                }
            }
            // transform: scale(0);
        }
    }
}
.footer-top {
    background-color: #3a3e64;
    padding-top: 50px;
    color: #afb0bc;
    // margin-top;

    .footer-col {
        text-align: center;
        margin-bottom: 80px;

        h5 {
            color: #ffffff;
            font-size: 16px;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }
    .footer-links {
        overflow: hidden;

        li {
            float: left;
            width: 50%;
            line-height: 1.8;
            padding-left: 50px;
            text-align: left;
        }
        a {
            color: #afb0bc;
            text-decoration: none;
            font-size: 13px;
        }
    }
}
.footer-bottom {
    text-align: center;
    // margin-bottom: 10px;
}
@import "news.scss";

// responsive
@media screen and (max-width:$bp-large) {
    .section {
        padding: 50px 0;
    }
    .flex-nav-next, .flex-nav-prev {
        display: none;
    }
    .pageslider {
        // margin-top: 5px;
    }
    #header {
        .header-content {
            width: 90%;
        }
        .nav-toggle {
            display: block;
            z-index: 999;
        }
        .navigation {
            background-color: #000;
            z-index: 998;
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            opacity: 0;
            visibility: hidden;

            &.open {
                opacity: .9;
                transition: all .6s;
                height: 100%;
                width: 100%;
                visibility: visible;
            }
        }
        .primary-nav {
            position: absolute;
            display: block;
            width: 100%;
            top: 45%;
            transform: translateY(-45%);

            li {
                display: block;
                padding-bottom: 20px;
                text-align: center;

                a {
                    font-size: 1.7857em;
                }
            }
        }
    }
    .news {
        .news-top-mask {
            left: 15px;
            top: 20px;
            width: auto;
        }
    }
}
@media screen and (max-width:$bp-medium-2) {
    .banner-text {
        padding-top: 30%;

        h1 {
            font-size: 42px;
        }
        p {
            font-size: 18px;
        }
    }
    .flexslider {
        padding-bottom: 80px;
    }
    .flex-control-nav {
        width: 100%;
    }
    .footer {
        .footer-col {
            margin-bottom: 50px;
        }
    }
    .features .feature-content p {
        min-height: auto;
    }
}
@media screen and (max-width:$bp-small-3) {
    .categories {
        .category {
            min-height: 175px;

            img {
                max-height: 175px;
            }
        }
    }
}