<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <!--[if IE ]><meta http-equiv="X-UA-Compatible" content="IE=edge"> <![endif]-->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">
    <title>广西合意木门有限责任公司</title>
</head>

<body ontouchstart>
    <%= require('html-loader?interpolate=require!./_header.html') %>
    <%= require('html-loader?interpolate=require!./_slider.html') %>

    <!-- features -->
    <section id="features" class="features section">
        <div class="container">
            <div class="row">
                <div class="feature-head text-center">为什么选择我们？</div>
                <div class="col-md-4 col-sm-6 feature text-center">
                    <span class="icon icon-tools"></span>
                    <div class="feature-content">
                        <h5>环保</h5>
                        <p>采用100%天然原木，100%纯天然享受，木材无数的肌理，犹如人体肌肤，自然呼吸，合意木门保持木材本身特性，采用环保植物胶水，饰面漆。使用安全，放心。</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 feature text-center">
                    <span class="icon icon-desktop"></span>
                    <div class="feature-content">
                        <h5>防潮</h5>
                        <p>原生态木质基材防虫防蛀烘干处理。合意木门选用优质树脂及先进配方的水性木器漆全封密工艺，完全隔离水分子的渗透；门套板采用原生态木质基材防虫防蛀烘干处理，不含密度板，防潮性能加倍，耐用更持久。</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 feature text-center">
                    <span class="icon icon-lightbulb"></span>
                    <div class="feature-content">
                        <h5>防霉</h5>
                        <p>BIO-PRUF防霉技术，超强耐擦洗技术。合意木门采用Bio-pruf防霉技术，水性木器漆采用纳米技术，不含有机溶剂，可以阻止霉菌繁殖。木门漆膜饱满厚实，如丝绸般顺滑质感，漆膜经过反复擦洗，依然亮丽如新。</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 feature text-center">
                    <span class="icon icon-briefcase"></span>
                    <div class="feature-content">
                        <h5>隔音</h5>
                        <p>采用欧美隔音标准，基材密度高。隔音是否好，厚度是关键，合意木门沿袭欧洲标准45MM厚度，基材密度高，有效减少噪音污染。</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 feature text-center">
                    <span class="icon icon-genius"></span>
                    <div class="feature-content">
                        <h5>稳固</h5>
                        <p>承榫卯传统工艺，抗收缩、防开裂。门框、横档、码头基材采用加拿大SPF指接工艺，受力均衡，通过严格的烘干，养生等处理，使得干缩湿胀平衡，稳定。9道核心工艺，120多道工序强度、硬度更佳。</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 feature text-center">
                    <span class="icon icon-download"></span>
                    <div class="feature-content">
                        <h5>信任</h5>
                        <p>一条龙服务，让您得到的不仅仅是合作。公司拥有一个完善的服务体系，拥有专业的配送团队、现场安装团队和售后服务团队，及时解决客户所遇到的问题</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- features end-->
    <!-- categories -->
    <section id="categories" class="categories section no-padding">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 category">
                    <a href="images/work-1.jpg" class="category-box">
                        <img src="images/work-1.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-caption">
                                <h5>豪华双开雕花门</h5>
                                <!-- <p>Website Design</p> -->
                            </div>
                        </div>
                        <!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 category">
                    <a href="images/work-2.jpg" class="category-box">
                        <img src="images/work-2.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-caption">
                                <h5>豪华双开门系列</h5>
                                <!-- <p>Website Design</p> -->
                            </div>
                        </div>
                        <!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 category">
                    <a href="images/work-3.jpg" class="category-box">
                        <img src="images/work-3.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-caption">
                                <h5>豪华雕花门系列</h5>
                                <!-- <p>Website Design</p> -->
                            </div>
                        </div>
                        <!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 category">
                    <a href="images/work-4.jpg" class="category-box">
                        <img src="images/work-4.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-caption">
                                <h5>豪华简欧门系列</h5>
                                <!-- <p>Website Design</p> -->
                            </div>
                        </div>
                        <!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 category">
                    <a href="images/work-5.jpg" class="category-box">
                        <img src="images/work-5.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-caption">
                                <h5>经典双开厨卫门</h5>
                                <!-- <p>Website Design</p> -->
                            </div>
                        </div>
                        <!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 category">
                    <a href="images/work-6.jpg" class="category-box">
                        <img src="images/work-6.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-caption">
                                <h5>经典厨卫门系列</h5>
                                <!-- <p>Website Design</p> -->
                            </div>
                        </div>
                        <!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 category">
                    <a href="images/work-7.jpg" class="category-box">
                        <img src="images/work-7.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-caption">
                                <h5>木门套线系列</h5>
                                <!-- <p>Website Design</p> -->
                            </div>
                        </div>
                        <!-- overlay -->
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- categories end-->
    <!--news-->
    <section id="news" class="section news">
        <div class="container">
            <div class="row news-top">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <img src="images/work-7.jpg" alt="">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h5> 三步走战略 助力蒙牛人力资源数字化转型</h5>
                    <p>作为2016年全国食品安全宣传周中央层面的重要活动之一——第四届中国国际食品安全与创新技术展览会，在中国国际展览中心举办。展会全面展示我国乃至全球食品安全技术创新成果。蒙牛凭借落实四个最严的系列创新举措，成为展会上备受关注的企业之一，其推出的“云端牧场奶源保障项目”更以颠覆创新实现安全可追溯的成果被授予“食品安全创新示范项目”称号</p>
                    <a href="#" title="">more →</a>
                </div>
                <div class="news-top-mask"></div>
            </div>
            <div class="row news-top-list">
                <div class="col-md-6 col-sm-6">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="images/work-7.jpg" alt="..." height="120" width="120">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">云端牧场奶源保障项目</h4>
                            <p>1其推出的“云端牧场奶源保障项目”更以颠覆创新实现安全可追溯的成果被授予“食品安全创新示范项目”称号</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="images/work-7.jpg" alt="..." height="120" width="120">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Media heading</h4>
                            <p>2其推出的“云端牧场奶源保障项目”更以颠覆创新实现安全可追溯的成果被授予“食品安全创新示范项目”称号</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="images/work-7.jpg" alt="..." height="120" width="120">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Media heading</h4>
                            <p>2其推出的“云端牧场奶源保障项目”更以颠覆创新实现安全可追溯的成果被授予“食品安全创新示范项目”称号</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="images/work-7.jpg" alt="..." height="120" width="120">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Media heading</h4>
                            <p>2其推出的“云端牧场奶源保障项目”更以颠覆创新实现安全可追溯的成果被授予“食品安全创新示范项目”称号</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- news end -->
    
    <%= require('html-loader?interpolate=require!./_footer.html') %>
</body>

</html>
