<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <!--[if IE ]><meta http-equiv="X-UA-Compatible" content="IE=edge"> <![endif]-->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">
    <title>广西合意木门有限责任公司</title>
</head>

<body ontouchstart>
    <%= require('html-loader?interpolate=require!./_header.html') %>
    <%= require('html-loader?interpolate=require!./_slider.html') %>
    <!-- pagenews detail -->
    <section id="pagenews" class="pagenews">
        <div class="content container clearfix">
            <h2 class="content-title text-center heading">三步走战略 助力蒙牛人力资源数字化转型</h2>
            <div class="page-tool text-center"><span>2016-12-20</span> <span>浏览：120次</span> <span>作者：王子亮</span></div>
            <div class="content-body clearfix">
                <p>6月20日－22日，作为2016年全国食品安全宣传周中央层面的重要活动之一——第四届中国国际食品安全与创新技术展览会，在中国国际展览中心举办。展会全面展示我国乃至全球食品安全技术创新成果。蒙牛凭借落实四个最严的系列创新举措，成为展会上备受关注的企业之一，其推出的“云端牧场奶源保障项目”更以颠覆创新实现安全可追溯的成果被授予“食品安全创新示范项目”称号。</p>
                <p><img alt="\" src="//s.mengniu.com.cn/p/B/X.jpg"></p>
                <p>
                    <br>本次展会旨在提升我国食品安全整体水平，减少系统性风险，提高群众满意度，以更高的规格、更国际化的参与度、更精细化的展区设置、更高品质的观众专业服务，致力打造中国乃至全球最有影响力的食品安全品牌大展。</p>
                <p>展会上，蒙牛展区以清新又不失时尚的彩绘牛等设计，彰显出一个国际品牌的格调。蒙牛不仅展示了特仑苏、纯甄、真果粒、冠益乳、蒂兰圣雪、植朴磨坊等系列产品，更将一杯牛奶背后的技术含量呈现在观众眼前。现场的趣味互动设置等体验环节让人印象深刻，其中，源自中国乳业第一款真正意义上的数字化牛奶品牌蒙牛精选牧场的“云端牧场奶源保障项目”，凭借云技术和二维码可追溯系统，吸引了众多消费者扫码体验实时观看“云端牧场”的现场直播。以此为基础，蒙牛率先布局构建一包一码“可追溯＋战略”，致力推动行业实现每一包乳品的精准可追溯，用新技术手段为消费者提供真正看得见品质的放心奶。
                    <br>
                </p>
                <p><img alt="\" src="//s.mengniu.com.cn/p/B/Y.jpg">
                    <br>
                    <br><img alt="\" src="//s.mengniu.com.cn/p/B/Z.jpg"></p>
                <p>
                    <br>从2013年开始，蒙牛便创新引领了通过数字化技术进行运营效率、尤其是品质管理的升级转型。蒙牛将国际上先进的LIMS和SAP系统双剑合璧，从原辅料采购、生产制造过程到终端提供智能化、系统化的品质保障。为实时监测每一环节的食品安全状况，蒙牛还建立了具有国际水准的“食品安全质量实时监控平台”，辐射区域覆盖到蒙牛的牧场、生产工厂和销售大区，全面护航乳品安全。</p>
                <p>提振消费者对中国乳品的信心，除技术保障外，更要与国际接轨。蒙牛近几年加快国际化布局，从丹麦ArlaFoods到法国达能，从新西兰AsureQuality到美国WhiteWave以及名校UC Davis，战略部署覆盖奶源、管理体系、标准认证以及营养健康创新研发等核心领域。对品质精益求精的追求，让蒙牛成为上海迪士尼度假区“唯一官方乳品合作伙伴”，并通过上海迪士尼度假区从产品创新、工厂生产、社会责任等层层极其严格的审核，伴随开园，蒙牛旗下高品质的牛奶、酸奶，以及定制冰淇淋等在园内惊艳亮相，刷新消费者对中国乳品品质的认知。</p>
                <p>以“国际化＋数字化”的双轨战略驱动品质创新，以“匠心•关心•放心”引领消费升级，推动中国乳业形象的重塑，让蒙牛“以消费者为中心，成为创新引领的百年营养健康食品公司”的愿景逐渐照进现实。
                    <br>
                </p>
            </div>
            <div class="pagination_wrap">
                <ul class="pagination">
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- pagenews detail end -->
    <%= require('html-loader?interpolate=require!./_footer.html') %>
</body>
</html>
