<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <!--[if IE ]><meta http-equiv="X-UA-Compatible" content="IE=edge"> <![endif]-->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">
    <title>广西合意木门有限责任公司</title>
</head>

<body ontouchstart>
    <%= require('html-loader?interpolate=require!./_header.html') %>
    <%= require('html-loader?interpolate=require!./_slider.html') %>
    <!-- pagenews list-->
    <section id="pagenews" class="pagenews">
        <div class="content container clearfix">
            <h2 class="content-title heading">新闻中心</h2>
            <ul class="news-title-list">
                <li><span>2016-08-11</span> <a href="news_detail.html">三步走战略 助力蒙牛人力资源数字化转型</a></li>
                <li><span>2016-06-29</span><a href="news_detail.html">蒙牛独揽两项世界乳业创新大奖 引领营养健康新潮流</a></li>
                <li><span>2016-06-24</span><a href="news_detail.html">创新引领 蒙牛获轻工品牌竞争力优势产品三项大奖</a></li>
                <li><span>2016-06-23</span><a href="news_detail.html">蒙牛以创新引领 亮相“中国国际食品安全与创新技术展览会”</a></li>
                <li><span>2016-06-21</span><a href="news_detail.html">以系统性团队促稳健发展 蒙牛总裁孙伊萍获“全国优秀企业家”</a></li>
                <li><span>2016-06-20</span><a href="news_detail.html">蒙牛再度入选2015年度“中国轻工业百强企业”</a></li>
                <li><span>2016-06-14</span><a href="news_detail.html">蒙牛落实四个最严 以“匠心 关心 放心”引领消费升级</a></li>
                <li><span>2016-06-13</span><a href="news_detail.html">蒙牛全球精选品质助力“进口食品安全社区行”</a></li>
                <li><span>2016-06-12</span><a href="news_detail.html">蒙牛和拉萨市共建世界最高海拔的牧场和牛奶工厂</a></li>
                <li><span>2016-06-06</span><a href="news_detail.html">蒙牛爱心助力全国儿童食品安全守护行动</a></li>
            </ul>
            <div class="pagination_wrap">
                <ul class="pagination">
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- pagenews list end-->
    <%= require('html-loader?interpolate=require!./_footer.html') %>
</body>

</html>
