<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <!--[if IE ]><meta http-equiv="X-UA-Compatible" content="IE=edge"> <![endif]-->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">
    <title>广西合意木门有限责任公司</title>
</head>

<body ontouchstart>
    <%= require('html-loader?interpolate=require!./_header.html') %>
        <!-- product detail -->
        <section id="pagenews" class="pagenews">
            <div class="content container clearfix">
                <h2 class="content-title text-center">豪华简欧门</h2>
                <div class="page-tool text-center"><span>2016-12-20</span> <span>浏览:120次</span> <span>作者:王子亮</span></div>
                <h4 class="content-header">产品图库</h4>
                <div class="slider-wrap ">
                    <div id="p_slider" class="flexslider homeslider">
                        <ul class="slides">
                            <!-- <li>
                            <div class="img" style="background:url(images/1.jpg) center center no-repeat; background-size: cover;"></div>
                        </li>
                        <li>
                            <div class="img" style="background:url(images/2.jpg) center center no-repeat; background-size:contain; "></div>
                        </li>
                        <li>
                            <div class="img" style="background:url(images/3.jpg) center center no-repeat; background-size: cover;"></div>
                        </li>
                        <li>
                            <div class="img" style="background:url(images/4.jpg) center center no-repeat; background-size: cover;"></div>
                        </li> -->
                            <li>
                                <div class="img-wrap">
                                    <img src="http://www.gxheyi.com/images/image/20160603172833923392.jpg" />
                                </div>
                            </li>
                            <li>
                                <div class="img-wrap"><img src="images/4.jpg"></div>
                            </li>
                            <li>
                                <div class="img-wrap"><img src="images/3.jpg"></div>
                            </li>
                            <li>
                                <div class="img-wrap"><img src="images/2.jpg"></div>
                            </li>
                            <!-- items mirrored twice, total of 12 -->
                        </ul>
                    </div>
                </div>
                <!-- <div class="js_productswiper product-swiper swiper-container swiper-container-horizontal">
                    <div class="swiper-wrapper product_pic" style="transform: translate3d(-5270px, 0px, 0px); transition-duration: 0ms;">
                        <div class="swiper-slide swiper-slide-duplicate swiper-slide-next swiper-slide-duplicate-prev" data-swiper-slide-index="3" style="width: 1024px; margin-right: 30px;">
                            <div><img src="/static/images/4.jpg"></div>
                        </div>
                        <div class="swiper-slide swiper-slide-duplicate-active" data-swiper-slide-index="0" style="width: 1024px; margin-right: 30px;">
                            <div>
                                <div><img src="/static/images/4.jpg"></div>
                            </div>
                        </div>
                        <div class="swiper-slide" data-swiper-slide-index="1" style="width: 1024px; margin-right: 30px;">
                            <div><img src="/static/images/4.jpg"></div>
                        </div>
                        <div class="swiper-slide" data-swiper-slide-index="2" style="width: 1024px; margin-right: 30px;">
                            <div><img src="http://www.gxheyi.com/images/image/20160603172833923392.jpg"></div>
                        </div>
                        <div class="swiper-slide swiper-slide-prev swiper-slide-duplicate-next" data-swiper-slide-index="3" style="width: 1024px; margin-right: 30px;">
                            <div><img src="/static/images/4.jpg"></div>
                        </div>
                        <div class="swiper-slide swiper-slide-duplicate swiper-slide-active" data-swiper-slide-index="0" style="width: 1024px; margin-right: 30px;">
                            <div>
                                <div><img src="/static/images/4.jpg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination swiper-pagination-fraction"><span class="swiper-pagination-current">1</span> / <span class="swiper-pagination-total">4</span></div>
                    <div class="swiper-button-prev swiper-button-white0"></div>
                    <div class="swiper-button-next swiper-button-white0"></div>
                </div> -->
                <div class="content-body">
                    <h4 class="content-header">产品介绍</h4>
                    <h3>100%实木烤漆门说明：</h3>
                    <h4>一、100%实木特点：</h4>
                    <p>采用优质实木集成材为主材，完全没有密度板成分，解决防水防潮，表层贴天然实木木皮，她采有欧洲实木门的经典样款（欧版门），融古典与现代风格于一体，简洁清新、高贵庄重、典雅大方，满足现代人们享受生活、回归自然的渴望，是家居装潢的木门精品。</p>
                    <h4>二、100%实木材质：</h4>
                    <ul>
                        <li>1、实木皮种类：水曲柳、樱桃木、沙比利、柚木、楸木、白橡、麦格利等。</li>
                        <li>2、实木龙骨材质为杉木集成材。</li>
                        <li>3、油漆品牌为广东"华润”木哭漆。</li>
                        <li>4、木材含水率8/%—12/%。 三、100%实木的环保性： 我公司所用木料均为天然林干燥成材，实木皮的纹理令人赏心悦目，回味无穷</li>
                    </ul>
                    <p>指接胶和拼版胶都采用国内质量最好的绿色环保产品，以保证产品的自然环保属性；在工厂完成涂漆工艺，使用环保达标油漆在车间经过十道工序规范操作，既保证了喷漆质量，同时避免了现场喷漆产生的有害物质对您房间的污染。</p>
                </div>
            </div>
        </section>
        <!-- product detail end -->
        <!-- categories -->
        <section id="categories" class="categories section no-padding">
            <div class="container-fluid">
                <div class="row no-gutter">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 category">
                        <a href="images/work-1.jpg" class="category-box">
                            <img src="images/work-1.jpg" alt="">
                            <div class="overlay">
                                <div class="overlay-caption">
                                    <h5>豪华双开雕花门</h5>
                                    <!-- <p>Website Design</p> -->
                                </div>
                            </div>
                            <!-- overlay -->
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 category">
                        <a href="images/work-2.jpg" class="category-box">
                            <img src="images/work-2.jpg" alt="">
                            <div class="overlay">
                                <div class="overlay-caption">
                                    <h5>豪华双开门系列</h5>
                                    <!-- <p>Website Design</p> -->
                                </div>
                            </div>
                            <!-- overlay -->
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 category">
                        <a href="images/work-3.jpg" class="category-box">
                            <img src="images/work-3.jpg" alt="">
                            <div class="overlay">
                                <div class="overlay-caption">
                                    <h5>豪华雕花门系列</h5>
                                    <!-- <p>Website Design</p> -->
                                </div>
                            </div>
                            <!-- overlay -->
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 category">
                        <a href="images/work-4.jpg" class="category-box">
                            <img src="images/work-4.jpg" alt="">
                            <div class="overlay">
                                <div class="overlay-caption">
                                    <h5>豪华简欧门系列</h5>
                                    <!-- <p>Website Design</p> -->
                                </div>
                            </div>
                            <!-- overlay -->
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 category">
                        <a href="images/work-5.jpg" class="category-box">
                            <img src="images/work-5.jpg" alt="">
                            <div class="overlay">
                                <div class="overlay-caption">
                                    <h5>经典双开厨卫门</h5>
                                    <!-- <p>Website Design</p> -->
                                </div>
                            </div>
                            <!-- overlay -->
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 category">
                        <a href="images/work-6.jpg" class="category-box">
                            <img src="images/work-6.jpg" alt="">
                            <div class="overlay">
                                <div class="overlay-caption">
                                    <h5>经典厨卫门系列</h5>
                                    <!-- <p>Website Design</p> -->
                                </div>
                            </div>
                            <!-- overlay -->
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 category">
                        <a href="images/work-7.jpg" class="category-box">
                            <img src="images/work-7.jpg" alt="">
                            <div class="overlay">
                                <div class="overlay-caption">
                                    <h5>木门套线系列</h5>
                                    <!-- <p>Website Design</p> -->
                                </div>
                            </div>
                            <!-- overlay -->
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- categories end-->
        <%= require('html-loader?interpolate=require!./_footer.html') %>
</body>

</html>
