<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <!--[if IE ]><meta http-equiv="X-UA-Compatible" content="IE=edge"> <![endif]-->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">
    <title>广西合意木门有限责任公司</title>
</head>

<body ontouchstart>
    <%= require('html-loader?interpolate=require!./_header.html') %>
    <!-- categories -->
    <section id="categories" class="categories section no-padding">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 category">
                    <a href="images/work-1.jpg" class="category-box">
                        <img src="images/work-1.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-caption">
                                <h5>豪华双开雕花门</h5>
                                <!-- <p>Website Design</p> -->
                            </div>
                        </div>
                        <!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 category">
                    <a href="images/work-2.jpg" class="category-box">
                        <img src="images/work-2.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-caption">
                                <h5>豪华双开门系列</h5>
                                <!-- <p>Website Design</p> -->
                            </div>
                        </div>
                        <!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 category">
                    <a href="images/work-3.jpg" class="category-box">
                        <img src="images/work-3.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-caption">
                                <h5>豪华雕花门系列</h5>
                                <!-- <p>Website Design</p> -->
                            </div>
                        </div>
                        <!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 category">
                    <a href="images/work-4.jpg" class="category-box">
                        <img src="images/work-4.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-caption">
                                <h5>豪华简欧门系列</h5>
                                <!-- <p>Website Design</p> -->
                            </div>
                        </div>
                        <!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 category">
                    <a href="images/work-5.jpg" class="category-box">
                        <img src="images/work-5.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-caption">
                                <h5>经典双开厨卫门</h5>
                                <!-- <p>Website Design</p> -->
                            </div>
                        </div>
                        <!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 category">
                    <a href="images/work-6.jpg" class="category-box">
                        <img src="images/work-6.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-caption">
                                <h5>经典厨卫门系列</h5>
                                <!-- <p>Website Design</p> -->
                            </div>
                        </div>
                        <!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 category">
                    <a href="images/work-7.jpg" class="category-box">
                        <img src="images/work-7.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-caption">
                                <h5>木门套线系列</h5>
                                <!-- <p>Website Design</p> -->
                            </div>
                        </div>
                        <!-- overlay -->
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- categories end-->
    <!-- pageproduct list -->
    <section id="pagenews" class="pagenews">
        <div class="content container clearfix">
            <h2 class="content-title">产品中心</h2>
            <ul class="product-list clearfix">
                <li>
                    <div class="pl-i-wrap">
                        <div class="p-img">
                            <a href="product_detail.html" target="_blank"><img src="http://www.gxheyi.com/images/up_images/20166317451673499.jpg" alt=""></a>
                        </div>
                        <div class="p-name"><a class="imgBorder" href="product_detail.html" target="_blank">豪华雕花门</a></div>
                    </div>
                </li>
                <li>
                    <div class="pl-i-wrap">
                        <div class="p-img">
                            <a href="product_detail.html" target="_blank"><img src="http://www.gxheyi.com/images/up_images/20166317451673499.jpg" alt=""></a>
                        </div>
                        <div class="p-name"><a class="imgBorder" href="product_detail.html" target="_blank">豪华雕花门</a></div>
                    </div>
                </li>
                <li>
                    <div class="pl-i-wrap">
                        <div class="p-img">
                            <a href="product_detail.html" target="_blank"><img src="http://www.gxheyi.com/images/up_images/20166317451673499.jpg" alt=""></a>
                        </div>
                        <div class="p-name"><a class="imgBorder" href="product_detail.html" target="_blank">豪华雕花门</a></div>
                    </div>
                </li>
                <li>
                    <div class="pl-i-wrap">
                        <div class="p-img">
                            <a href="#" target="_blank"><img src="http://www.gxheyi.com/images/up_images/20166317451673499.jpg" alt=""></a>
                        </div>
                        <div class="p-name"><a class="imgBorder" href="product_detail.html" target="_blank">豪华雕花门</a></div>
                    </div>
                </li>
                <li>
                    <div class="pl-i-wrap">
                        <div class="p-img">
                            <a href="product_detail.html" target="_blank"><img src="http://www.gxheyi.com/images/up_images/20166317451673499.jpg" alt=""></a>
                        </div>
                        <div class="p-name"><a class="imgBorder" href="product_detail.html" target="_blank">豪华雕花门</a></div>
                    </div>
                </li>
                <li>
                    <div class="pl-i-wrap">
                        <div class="p-img">
                            <a href="product_detail.html" target="_blank"><img src="http://www.gxheyi.com/images/up_images/20166317451673499.jpg" alt=""></a>
                        </div>
                        <div class="p-name"><a class="imgBorder" href="product_detail.html" target="_blank">豪华雕花门</a></div>
                    </div>
                </li>
            </ul>
            <div class="pagination_wrap">
                <ul class="pagination">
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- pageproduct list end -->
    <%= require('html-loader?interpolate=require!./_footer.html') %>
</body>

</html>
